
.main-logo {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/49/Owl_of_Minerva_illuminati.jpg?20190910171715);
    background-size: cover;
    background-position: center;
}